{sub_dirs, ["apps/popcorn", "rel", "deps"]}.

{cover_enabled, true}.
{erl_opts, [
  {parse_transform, lager_transform},
  debug_info
  %fail_on_warning
]}.
{erl_first_files, ["apps/popcorn/src/outbound_notifier_handler.erl"]}.
{deps, [
  {lager, ".*", {git, "git@github.com:basho/lager.git", "86c7c620bc642126ae3016dc4fb4e62d59994b3e"}},
  {folsom, ".*", {git, "https://github.com/lookio/folsom.git", {branch, "sf/fixes"}}},
  {ibrowse, ".*", {git, "git@github.com:inaka/ibrowse.git", "master"}},
  {cowboy, "0.7.0", {git, "git://github.com/extend/cowboy.git", "ea7af4b72444890df8cafc624ecdf7e32f7a62cb"}},
  {mustache, "0.1.0", {git, "git://github.com/mojombo/mustache.erl.git", "master"}},
  {lager_popcorn_backend, ".*", {git, "https://github.com/marccampbell/lager_popcorn_backend.git", "master"}},
  {eper,   "0.60",  {git, "git@github.com:mhald/eper.git",      "HEAD"}},
  {flake,  "0.7", {git, "git://github.com/marccampbell/flake.git",  "rebar_dep"}},
  {pcache, ".*",  {git, "git@github.com:tigertext/pcache.git",  "master"   }}
]}.
{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used, deprecated_function_calls, deprecated_functions]}.
{post_hooks, [{compile, "rm -rf ./apps/popcorn/ebin/*.mustache;"},
              {compile, "cp ./apps/popcorn/priv/templates/*.mustache ./apps/popcorn/ebin"}]}.
