{sub_dirs, ["apps/popcorn", "rel", "deps"]}.

{cover_enabled, true}.

{erl_opts, [
  {parse_transform, lager_transform},
  debug_info
  %fail_on_warning
]}.
{erl_first_files, ["apps/popcorn/src/outbound_notifier_handler.erl"]}.
{deps, [
  {lager, "2.0.0", {git, "git@github.com:basho/lager.git", {tag, "e749242087706e480ecb530d99c5615e7e0dc7d6"}}},
  {folsom, ".*", {git, "git@github.com:boundary/folsom.git", {tag, "3322e75282cd935554b0e66efcc43ff6f415ae21"}}},
  {ibrowse, ".*", {git, "git@github.com:inaka/ibrowse.git", {tag, "bd050fe160ddf777f0aa984f478a72ecec829d52"}}},
  {cowboy, "0.7.0", {git, "git@github.com:extend/cowboy.git", {tag, "ea7af4b72444890df8cafc624ecdf7e32f7a62cb"}}},
  {mustache, "0.1.0", {git, "git@github.com:marccampbell/mustache.erl.git", {tag, "b3254fcc5eecf65c637a22cee87e177a88e94016"}}},
  {eper, "0.60", {git, "git@github.com:mhald/eper.git", {tag, "4bda88076827de6874d845a22cfb9e68bf7d8ade"}}},
  {flake, "0.7", {git, "git@github.com:marccampbell/flake.git", {branch, "rebar_dep"}}},
  {pcache, ".*", {git, "git@github.com:tigertext/pcache.git", {tag, "184684ed1dcb6d92de04895144f6365c78daba27"}}},
  {rps, ".*", {git, "git@github.com:mhald/rps.git", {tag, "2931b3bafddca4e0c305bdbb446e32bc921a00eb"}}},
  {gen_smtp, "0.1", {git, "git@github.com:Vagabond/gen_smtp.git", {tag, "156b52c16466a0e1dd98395f7c6480b5ff916332"}}},
  {jiffy, "0.7.*", {git, "git@github.com:davisp/jiffy.git", {tag, "ee788ca28f6642c2ca6005d4c65df1eced66b245"}}},
  {protobuffs, "0.8.0", {git, "git@github.com:basho/erlang_protobuffs.git", {tag, "839e441c194fb946b2a72df24252b377269169cb"}}},
  {popcorn_proto, ".*", {git, "git@github.com:tigertext/popcorn_proto.git"}}
]}.
{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used, deprecated_function_calls, deprecated_functions]}.
{post_hooks, [{compile, "rm -rf ./apps/popcorn/ebin/*.mustache;"},
              {compile, "cp ./apps/popcorn/priv/templates/*.mustache ./apps/popcorn/ebin"}]}.
