<!DOCTYPE html>
<html>
<head>
  <title>Popcorn Log Analysis</title>
  {{#head_includes}}
  {{tag}}
  {{/head_includes}}
</head>
<body>

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="/">Popcorn</a>
          <span class="tagline">a predictive & intelligent log analysis machine</span>

          <div class="nav-collapse collapse" id="main-menu">
            <div class="auth pull-right">
              <img class="avatar" src="/images/littke.png">
              <span class="name">{{username}}</span><br/>
              <span class="links">
                <a href="/settings">Settings</a>
                <a href="/logout">Logout</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row-fluid">
        <div class="span3">
          <aside>
            <nav>
              <ul class="nav">
                <li>
                  <a href="/"><i class="icon-list"></i> Dashboard</a>
                </li>
                <li class="selected">
                  <a href="/alerts"><i class="icon-bell icon-white"></i> Alerts</a>
                </li>
                <li>
                  <a href="/nodes"><i class="icon-th-large icon-white"></i> Nodes</a>
                </li>
              </ul>
            </nav>
          </aside>
        </div>
        <div class="span9" id="content-wrapper">
          <div id="content">

            <section id="alerts">
              <a name="alerts">
                <header>
                  <h1>[{{severity}}] {{name}}:{{line}} at {{product}} {{version}}</h1>
                </header>
              </a>
              <table id="logs" class="table table-striped full-section table-hover">
                  <table id="log-messages" class="table table-striped full-section table-hover">
                    <thead>
                      <tr>
                        <th>Time</th>
                        <th>Severity</th>
                        <th>Message</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#logs}}
                      <tr>
                        <td>{{datetime}}</td>
                        <td>{{message_severity}}</td>
                        <td class="message">{{message}}</td>
                      </tr>
                      {{/logs}}
                      {{next_page}}
                    </tbody>
                  </table>
              </table>
            </section>

          </div>
        </div>
      </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/bootstrap/js/bootstrap-collapse.js"></script>
    <script type="text/javascript">
      function addEvents(baseHRef, anchor, events) {
        if(events.length == 0) {
          $(anchor).parent().parent().remove();
        } else {
          var i = 0;
          for(i = 0; i < events.length; i++) {
            var event = events[i];
            var row =
              "<tr>" +
                "<td>" + event.datetime + "</td>" +
                "<td>" + event.message_severity + "</td>" +
                "<td>" + event.message + "</td>" +
              "</tr>";
            $(anchor).parent().parent().before(row);
          }
          var nextPageUrl = baseHRef + "?since=" + events[i-1].timestamp;
          $(anchor).attr("href", nextPageUrl);
        }
        console.log(events);
      }

      $("td.load-more a").click(
        function (e) {
          e.preventDefault();
          var hrefParts = this.href.split("?");
          var anchor = this;
          $.ajax(
            { type: 'POST',
              url:  this.href,
              data: hrefParts[1],
              success:
                function(data, textStatus, xhr) {
                  addEvents(hrefParts[0], anchor, JSON.parse(data))
                },
              error:
                function(xhr, textStatus) {
                  alert('Unable to load more events: ' + textStatus);
                }
            });
          console.log("load from: " + this.href);
        })
    </script>
  </body>
</html>
