<!DOCTYPE html>
<html>
    <head>
        <title>Popcorn Log Analysis</title>
        {{#head_includes}}
          {{tag}}
        {{/head_includes}}
    </head>
    <body>

    <!-- Navbar
      ================================================== -->
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="/">Popcorn</a>
          <span class="tagline">a predictive & intelligent log analysis machine</span>

          <div class="nav-collapse collapse" id="main-menu">
            <div class="auth pull-right">
                <img class="avatar" src="images/littke.png">
                <span class="name">{{username}}</span><br/>
                <span class="links">
                    <a href="/settings">Settings</a>
                    <a href="/logout">Logout</a>
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row-fluid">
            <div class="span3">
                <aside>
                    <nav>
                        <ul class="nav">
                          <li class="selected">
                            <a href="#dashboard"><i class="icon-list"></i> Dashboard</a>
                          </li>
                          <li>
                            <a href="#alerts"><i class="icon-bell icon-white"></i> Alerts</a>
                          </li>
                          <li>
                            <a href="#nodes"><i class="icon-th-large icon-white"></i> Nodes</a>
                          </li>
                        </ul>
                    </nav>
                </aside>
            </div>
            <div class="span9" id="content-wrapper">
                <div id="content">

                    <!-- Navbar
                    ================================================== -->
                    <section id="stats">
                      <a name="dashboard">
                        <header>
                          <h1>Dashboard</h1>
                        </header>
                      </a>
                      <div class="row-fluid">
                        <div class="span2">
                            <div id="node_count" class="kpi">{{node_count}}</div>
                            <div><small>nodes</small></div>
                        </div>
                        <div class="span2">
                            <div id="event_count" class="kpi">{{event_count}}</div>
                            <div><small>events</small></div>
                    </div>
                    <div class="span2">
                        <div class="kpi">{{hashtag_count}}</div>
                        <div><small>#hashtags</small></div>
                    </div>
                    <div class="span2">
                        <div class="kpi">{{mention_count}}</div>
                        <div><small>@mentions</small></div>
                    </div>
                    <div class="span2">
                        <div id="alert_count_today" class="kpi">{{alert_count_today}}</div>
                        <div><small>alerts today</small></div>
                    </div>
                    <div class="span2">
                        <div id="alert_count" class="kpi">{{alert_count}}</div>
                        <div><small>total alerts</small></div>
                    </div>
                  </div>
                </section>
                <!-- Dashboard
                ================================================== -->

                <section id="alerts">
                  <a name="alerts">
                    <header>
                      <h1>Alerts</h1>
                    </header>
                  </a>
                  <table id="alerts" class="table table-striped full-section table-hover">
                      <tr />
                      {{#alerts}}
                        <tr id="alert-{{name}}-{{line}}">
                          <td>{{name}} line {{line}}<br/>{{message}}</td>
                          <td><span class="seen">{{count}}</span> seen</td>
                          <td align="right">version {{version}}</td>
                          <td></td>
                        </tr>
                      {{/alerts}}
                  </table>
                </section>

                <!-- Nodes
                ================================================== -->
                <section id="nodes">
                  <a name="nodes">
                    <header>
                      <h1>Nodes</h1>
                    </header>
                  </a>
                  <table id="known_nodes" class="table table-striped full-section table-hover">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Event Count</th>
                        <th>% All Events</th>
                        <th>Alerts</th>
                        <th>#hashtags</th>
                        <th>@mentions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#known_nodes}}
                        <tr class="node-row" id="node-{{node_hash}}">
                          <td class="primary"><a href="/node/{{node_name}}">{{node_name}}</a></td>
                          <td class="node-total">{{total_messages}}</td>
                          <td class="node-percent">
                            <div class="progress progress-mini">
                              <div class="bar" style="width: {{percent_of_all_events}}%"></div>
                            </div>
                          </td>
                          <td>{{alert_count}}</td>
                          <td>{{hashtag_count}}</td>
                          <td>{{mention_count}}</td>
                        </tr>
                      {{/known_nodes}}
                    </tbody>
                  </table>
                </section>
            </div>
        </div>
    </div>
</div><!-- /container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/bootstrap/js/bootstrap-collapse.js"></script>

    <script type="text/javascript">

      var streamSource = new EventSource("/dashboard/stream/{{stream_id}}");

      function maybe(v, d) { if(v == 0 || v) return v; if(d == 0 || d) return d; return "" };

      function percent(value) { return (Math.round(value * 100 * 100.0) / 100.0) + "%"; };

      function set_node_percents() {
        var total = 0;
        var nodes = {};
        var rows = $('.node-row');
        for(var i = 0; i < rows.length; i++) {
          tr = rows[i];
          var value = parseInt($('#' + tr.id + ' .node-total').text(), 10);
          total += value;
          nodes[tr.id] = value
        }
        for(var i = 0; i < rows.length; i++) {
          tr = rows[i];
          $('#' + tr.id + ' .node-percent .progress .bar').width(percent(nodes[tr.id] / total))
        }
      };

      streamSource.addEventListener(
        'update_counters',
        function(event) {
          var counters = JSON.parse(event.data);
          if(counters.event_count) $('#event_count').text(counters.event_count);
          if(counters.alert_count_today) $('#alert_count_today').text(counters.alert_count_today);
          if(counters.alert_count) $('#alert_count').text(counters.alert_count);
          if(counters.counter) {
            var rowName = 'alert-' + maybe(counters.counter.name) + '-' + maybe(counters.counter.line);
            var row = $('#' + rowName);
            if(row.length > 0) {
              $('#' + rowName + ' .seen').text(counters.counter.seen);
            } else {
              var newRow = "<tr id='" + rowName +"'>" +
                            "<td>" + maybe(counters.counter.name) + " line " + maybe(counters.counter.line) + "<br/>" + maybe(counters.counter.message) + "</td>" +
                            "<td><span class='seen'>" + maybe(counters.counter.seen, 1) + "</span> seen</td>" +
                            "<td align='right'>version " + maybe(counters.counter.version) + "</td></tr>";
              $('#alerts tr:first').before(newRow);
              if($('#alerts tr').length > {{alert_lines}}) $('#alerts tr:last').remove();
            }
          }
          if(counters.node_hash && counters.node_count) {
            $('#node-' + counters.node_hash + ' .node-total').text(counters.node_count);
            set_node_percents();
          }
        },
        false);

      streamSource.addEventListener(
        'new_node',
        function(event) {
          var node = JSON.parse(event.data);
          if(node.node_count) $('#node_count').text(node.node_count);
          var row = "<tr class='node-row' id='node-" + node.node_hash + "'>" +
                      "<td class='primary'><a href='/node/" + node.node_name + "'>" + node.node_name + "</a></td>" +
                      "<td class='node-total' id='" + node.node_hash + "-total'>" + maybe(node.total_messages, 1) + "</td>" +
                      "<td class='node-percent' id='" + node.node_hash + "-percent'><div class='progress progress-mini'>" +
                              "<div class='bar' style='width: " + maybe(node.percent_of_all_events, 0) + "%'></div>" +
                          "</div></td>" +
                      "<td>" + maybe(node.alert_count, 0) + "</td>" +
                      "<td>" + maybe(node.hashtag_count, 0) + "</td>" +
                      "<td>" + maybe(node.mention_count, 0) + "</td></tr>";
          $('#known_nodes tr:last').after(row);
        },
        false);

    </script>

  </body>
</html>
