[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
         ]},

 {flake, [
    {allowable_downtime, 2592000000},
    {interface, "eth0"}
    ]},

 {lager, [
         {handlers, [
            {lager_console_backend, [debug, {lager_default_formatter, [date, " ", time," [",severity,"] ",pid, " ", message, "\n"]}]}
  ]}
 ]},

 {popcorn, [
        {udp_listen_port,   9125},
        {http_listen_host, "localhost"},
        {http_listen_port,  9125},
        {http_auth_enabled, true},
        {http_auth_db_type, config},
        {rps_tracking,      [{enabled, true},
                             {notify_module, rps_statsd},
                             {start_dep,     [{popcorn_statsd, [{statsd_host, "10.10.10.11"},
                                                                {statsd_port, 8125}]}]},
                             {module_config, []}]},
        {http_auth_users,   [{<<"admin">>, <<"password">>}]},
        {storage,           [{engine,         "mnesia"},
                             {worker_count,   5},
                             {options, [{mensia_dir,  <<"./">>}]}]},
        {log_retention,     [{<<"debug">>,      {minutes, 1}},
                             {<<"info">>,       {hours, 2}},
                             {<<"notice">>,     {hours, 2}},
                             {<<"warn">>,       {hours, 2}},
                             {<<"error">>,      {months, 1}},
                             {<<"critical">>,   {months, 1}},
                             {<<"alert">>,      {months, 1}},
                             {<<"emergency">>,  {months, 1}}]}
        ]}

].
